name: Build and Release LifeTrack2.0 App (Debug)

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 22
        uses: actions/setup-java@v4
        with:
          java-version: '22'
          distribution: 'temurin'
          cache: 'gradle'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build Debug Application
        run: ./gradlew assembleDebug
        env:
          GRADLE_OPTS: -Xmx4g -XX:MaxMetaspaceSize=512m

      - name: Create or Update GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: latest-debug
          name: Latest Debug Build
          files: |
            app/build/outputs/apk/debug/*.apk
            build/libs/*.jar
          draft: false
          prerelease: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

