name: Build and Release LifeTrack2.0 App (Release)

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'
          cache: 'gradle'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Decode Keystore and Setup Properties
        run: |
          echo "${{ secrets.KEYSTORE_BASE64 }}" | base64 --decode > app/lt-release-key.jks
          echo "ltStoreFile=lt-release-key.jks" > keystore.properties
          echo "ltStorePassword=${{ secrets.KEYSTORE_PASSWORD }}" >> keystore.properties
          echo "ltKeyAlias=${{ secrets.KEY_ALIAS }}" >> keystore.properties
          echo "ltKeyPassword=${{ secrets.KEY_PASSWORD }}" >> keystore.properties

      - name: Build Release Application
        run: ./gradlew assembleRelease bundleRelease --info
        env:
          GRADLE_OPTS: -Xmx4g -XX:MaxMetaspaceSize=1g

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            app/build/outputs/apk/release/*.apk
            app/build/outputs/bundle/release/*.aab
          draft: false
          prerelease: false
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}